window#waybar, tooltip {
  background: transparent;
  color: @base05;
}

tooltip {
  border-color: @base0D;
  border-radius: 8px;
  background: @base00;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
  margin: 0px 10px 0px 10px;
  padding: 0px 10px 0px 10px;
  border-radius: 10px;
  background: @base00;
}

#workspaces button {
    transition: none;
    color: @base00;
    background: @base07;
    padding: 1px;
}

#workspaces button:hover,
#workspaces button.focused,
#workspaces button.active {
  background: @base03;
}

#submap {
  margin: 0px 10px 0px 10px;
  padding: 0px 10px 0px 10px;
  border-radius: 10px;
  background: @base00;
}

#idle_inhibitor,
#keyboard-state {
  margin: 0px 10px 0px 10px;
  padding: 0px 10px 0px 10px;
  background: @base00;
  border-radius: 10px;
}

#idle_inhibitor.activated {
  background: @base09;
}

#clock {
  margin: 0px 10px 0px 10px;
  padding: 0px 10px 0px 10px;
  border-radius: 10px;
  transition: none;
  background: @base00;
}

#pulseaudio {
  margin: 0px 10px 0px 10px;
  padding: 0px 10px 0px 10px;
  border-radius: 10px;
  background: @base00;
}

#pulseaudio.muted {
    background-color: @base03;
}

#cpu {
  margin-left: 10px;
  padding-right: 3px;
  padding-left: 10px;
  border-radius: 10px 0px 0px 10px;
  background: @base00;
}

#memory {
  margin-right: 10px;
  padding-left: 3px;
  padding-right: 10px;
  border-radius: 0px 10px 10px 0px;
  background: @base00;
}

#network {
  margin: 0px 10px 0px 10px;
  padding: 0px 10px 0px 10px;
  border-radius: 10px;
  background: @base0B;
  color: @base00;
}

#network.disabled {
    background-color: @base0A;
    color: @base00;
}

#battery {
  margin: 0px 10px 0px 10px;
  padding: 0px 10px 0px 10px;
  border-radius: 10px;
  background: @base03;
}

#battery.charging {
    background-color: @base0B;
}

#battery.warning:not(.charging) {
    background-color: @base09;
    color: @base00;
}

#battery.critical:not(.charging) {
    background-color: @base08;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
