layout {
    pane split_direction="vertical" {
        pane
    }

    pane size=1 borderless=true {
        plugin location="file:/home/grizz/.config/zellij/plugins/zjstatus-0.16.0.wasm" {
            format_left  "{mode}#[bg=#34353e] {tabs}"
            format_right "#[fg=#e2e4e5,bg=#34353e,bold]{session} {datetime}"
            format_space "#[bg=#34353e]"

            mode_normal          "#[bg=#57c7ff] "
            mode_pane            "#[bg=#ff9f43] "
            mode_tab             "#[bg=#5af78e] "

            tab_normal               "#[fg=#a5a5a9,bg=#34353e] {index} {name} {fullscreen_indicator}{sync_indicator}{floating_indicator}"
            tab_active               "#[fg=#e2e4e5,bg=#34353e,bold] {index} {name} {fullscreen_indicator}{sync_indicator}{floating_indicator}"
            tab_fullscreen_indicator "□ "
            tab_sync_indicator       "  "
            tab_floating_indicator   "󰉈 "

            datetime          "#[fg=#78787e,bg=#34353e] {format} "
            datetime_format   "%A, %d %b %Y %H:%M"
            datetime_timezone "Europe/Berlin"
        }
    }
}

pane_frames false
